{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item active" href="{% url 'profile' %}"> Account overview </a>
                    <a class="list-group-item" href="{% url 'new_request' %}"> New request </a>
                    <a class="list-group-item" href="#"> Submitted requests </a>
                    <a class="list-group-item" href="#"> Active requests </a>
                    <a class="list-group-item" href="#"> Pending requests </a>
                    <a class="list-group-item" href="{% url  'logout' %}"> Log out </a>
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">

                        <figure class="icontext">
                            <div class="icon">
                                <img class="rounded-circle img-sm border" src="images/avatars/avatar3.jpg">
                            </div>
                            <div class="text">
                                <strong> Mr./Ms. {{ user.first_name }} {{ user.last_name }} </strong> <br>
                                <p class="mb-2"> {{ user.email }} </p>
                            </div>
                        </figure>
                        <hr>
                        <!-- ============================ COMPONENT REGISTER   ================================= -->
                            <article class="card-body">
                                <header class="mb-4">
                                    <h4 class="card-title">New request</h4>
                                </header>
                                <form>
                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label>Subject</label>
                                            <input type="text" class="form-control" placeholder="Subject">
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row end.// -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Date from</label>
                                            <input class="form-control" type="date" placeholder="Date from">
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group col-md-6">
                                            <label>Date to</label>
                                            <input class="form-control" type="date" placeholder="Date to">
                                        </div> <!-- form-group end.// -->
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea rows="10" cols="20" placeholder="Detailed request" class="form-control"></textarea>
                                    </div> <!-- form-group end.// -->


                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"> Submit </button>
                                    </div> <!-- form-group// -->

                                </form>
                            </article><!-- card-body.// -->
                        <br><br>
                        <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


                    </div> <!-- card-body .// -->
                </article> <!-- card.// -->

            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}