<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-6">
                <p class="text-muted"> &copy 2022 built for and by Systems Assurance & Data Science </p>
            </div>
            <div class="col-md-6 text-md-right">
                <span class="px-2">sads.helpdesk@twopointfivedata.com</span>
                <span class="px-2">+254 722 XXX XXX</span>
            </div>
        </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->