{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">

        <div class="intro-banner-wrap">
            <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
        </div>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row" id="menu-links">
            <aside class="col-md-3">
                <nav class="list-group">
                    {% if request.user.is_admin %}
                        <a class="list-group-item active" href="{% url 'dashboard' %}"> Dashboard </a>  
                        <a class="list-group-item" href="#"> Assign resource </a>    
                        <a class="list-group-item" href="{% url 'active_requests' %}"> Active requests </a>
                        <a class="list-group-item" href="{% url 'pending_requests' %}"> Pending requests </a>
                        <a class="list-group-item" href="{% url 'completed_requests' %}"> Completed requests </a>
                    {% else %}
                        <a class="list-group-item active" href="{% url 'dashboard' %}"> Dashboard </a>    
                        <a class="list-group-item" href="{% url 'active_requests' %}"> Active requests </a>
                    {% endif %}
                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">
                        <article class="card-group card-stat">
                        </article>
                        <br>
                        <h5>Officers available for assignment</h5>
                        {% if sa_ds_resources %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Officer's name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Phone number</th>
                                    <th scope="col">Date joined</th>
                                </tr>
                            </thead>
                            {% for sa_ds_resource in sa_ds_resources %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ sa_ds_resource.full_name }}</td>
                                    <td>{{ sa_ds_resource.unit }}</td>
                                    <td>{{ sa_ds_resource.phone_number }}</td>
                                    <td>{{ sa_ds_resource.date_joined }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        {% else %}
                        <article class="card-group card-stat">
                            <figure class="card bg">
                                <div class="p-3">
                                    <h5 class="title text-center">There are no available Systems Assurance & Data Science resources!</h5>
                                </div>
                            </figure>
                        </article>
                        {% endif %}
                    </div> <!-- card-body .// -->
                </article> <!-- card.// -->
            </main> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}